/* Reset Box Model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Full Height */
html, body {
  height: 100%;
 
}

.Main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

/* Header */
h1 {
  margin: 0;
  color: #000000;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Columns */
.column-01, .column-02 {
  background-color: #ececec;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: calc(100vh - 40px); /* Adjust for spacing */
  overflow-y: auto;
}

/* Search Section */
.search-section h6 {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .column-01, .column-02 {
    padding: 15px;
  }
}
